/* RESETS */
* {
	box-sizing: border-box;
	margin: 0;
}

/* SHOWCASE */
#showcase-img {
	width: 20rem;
}

/* SIDEBAR */
.sidebar {
	background-color: #f4f5f5;
	padding: 1rem;
	height: 100%;
	border-radius: 2px;
	border: 1px solid #cccccc;
	/* min-width: 306px; */
}

.sidebar h2 {
	margin-bottom: 2rem;
}

.sidebar select {
	margin-bottom: 1rem;
}

.sidebar label {
	margin-top: 2rem;
}

/* EMAIL BANNER */
.email {
	background-color: #cceaff;
}

.email .input-group {
	max-width: 400px;
}

/* MATCHUP GRID */
.matchup-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
}

/* MATCHUP CARD */
.matchup-card {
	background-color: #ffffff;
	border-radius: 0.5rem;
	border: 1px solid #cccccc;
}

.matchup-card-header {
	padding: 1rem;
	font-size: 1.1rem;
}

.matchup-date {
	font-size: 0.8rem;
	margin-bottom: 0;
}

.matchup-card-body {
	margin: 0rem;
	padding: 0.5rem;
}

.bet-details {
	padding: 1rem;
}

.bet-grade {
	/* font-size: 0.8rem; */
}

.bet-grade-remark {
	/* font-size: 1.1rem; */
}

/* BET */
.bet {
	border-radius: 0.5rem;
	cursor: pointer;
}

/* SELECTED BET */
.selected.bet {
	box-shadow: 0px 0px 7px green;
	background-color: #cccccc;
}
